Flask==1.1.2
gunicorn==20.0.4

pytest==6.2.2
pytest-cov==2.11.1
flake8==3.9.0

Click==7.1.2

Flask-DebugToolbar==0.11.0

redis==3.5.3
celery==5.0.5

Flask-WTF==0.14.3
WTForms-Components==0.10.5
Flask-Mail==0.9.1
